@font-face{
    font-family: 'Starjout';
    src: url('fonts/Starjout.ttf');
   }

body {
    background: url('images/fleck-white.png'), #262947;
    margin:auto;
    width:100%;
}

h1 {
    font-family: 'Starjout', helvetica, sans-serif;
}

.header {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: helvetica, sans-serif;
    font-weight: 100;
    font-style: oblique;
    color: rgba(222, 198, 79, 0.881);
    text-align: center;
    margin-bottom: 15px;
}


.header-desc {
    color: rgba(255, 255, 255, 0.812);
    font-style: initial;
    margin-left: auto;
    margin-right: auto;;
}

.header-desc p {
    margin: 3px;
    padding: 0;
}

em {
    color: rgba(222,198,79, 0.881)
}
/* ------------------------------------------------------------ */

.main-contain {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    height:550px;
}

/* ------------------------------------------------------------ */
.console-contain {
    grid-column: 100%;
}

.logger-contain {
    display: grid;
    grid-template-rows: 20px 200px;
    /* padding: 80px; */
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

.console-top{
    grid-row: auto;
    /* position: absolute; */
    /* top: 50%; */
    /* right: 5%; */
    /* padding-top: 15px; */
    /* padding-bottom:; */
    /* bacgkround: linear-gradient(); */
    background-color:   rgba(216,214,216, 0.846);
    box-shadow: 3px 3px 12px 0px #69696981;
    border-radius: 4px 4px 1px 1px;
}

.console-top p {
    text-align: center;
    /* bottom: 5px; */
    font-family: Helvetica,Arial, sans-serif;
    /* font-weight: bold; */
    font-size: 10px;
    margin-top:2px;
    /* color:white; */
}

.console-board{
    grid-row:auto;
    /* position: absolute; */
    /* top: 50%; */
    /* right: 5%; */
    /* padding-top: 50px; */
    padding-bottom: 50px;
    padding-right:10px;
    padding-left:10px;
    background-color: rgba(0, 0, 0, 0.75);
    /* box-shadow: 8px 8px 12px 0px #69696981; */
    border-radius: 1px 1px 3px 3px;
    overflow-wrap: break-word;
    font-family: monospace, Courier New, Courier;
    font-size:12px;
}
.console-board p {
    text-align: top;
    color: rgb(49,223,50);
    
}


/* ------------------------------------------------------------ */
.board {
    /* text-align: center; */
    /* align-content: center; */
    grid-column: 100%;
    position: relative;
    width: 1024px;
    height: 920px;
    margin: auto;
    /* background: url('') no-repeat; */
}

/* --------------------------------------- */
.form-input {
    grid-column: 90%;
}

form{
    position: relative;
    top: 10%;
    /* right: 5%; */
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding:10px;
    background-color: rgba(51, 204, 51, 0.846);
    box-shadow: 8px 8px 12px 0px #69696981;
    border-radius: 4px 4px 4px 4px;
}

form input{
    background-color: rgb(128,204,51);
    border-color: rgb(51,204,51);
    font-size: 0.9em;
}

form p {
    font-family: "Roboto Mono", Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.915);
}

#form-box {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

/* --------------------------------------- */

#game-contain {
    margin: auto;
    position:center;
}

#gameboard {
    position:relative;
    top:25px;
    right:0;
    left:0;
    margin:auto;
	/* margin:2em 2em 4em auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
	width:495px;
    height:400px;
}

#gameboard div {
	position:absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: #f6f8f95e; /* Old browsers */
	border: 1px solid rgba(255, 212, 55, 0.65);
	width:95px;
    height:95px;

    /* transition after hover */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


#gameboard div:hover{
    transform: scale(1.025);
    transition: .3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.771);
    /* cursor: pointer; */
}
/* ------------------------------------- */

footer{
    position: relative;
    /* box-sizing: border-box; */
    margin:auto;
    width: auto;
    top:1.0em;
    height: 120px;
    background-size: 100%;
    background-color: rgba(25, 25, 25, 0.7);
    opacity: 0.9;
}

.footer-content{
    top:2.0em;
    text-align: center;
    position: relative;
    font-size: 1.3rem;
    font-family: "Roboto Mono", monospace;
    color: rgba(255, 255, 255, 0.935);
}

/* -----------------LINK-------------------- */

a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s
}

a:hover, a:focus, a:active {
    color: #ffffff;
    outline: none
}

.text-link {
    color: #4c3d6d;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: .3s
}

.text-link:before, .text-link:after {
    bottom: 5%;
    content: '';
    position: absolute;
    top: 5%;
    transition: .3s;
    width: 47%;
    z-index: -1
}

.text-link:before {
    background: #71e2a6;
    left: 5%;
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
}

.text-link:after {
    background: #e9b921;
    left: 49%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
}

.text-link:hover, .text-link:focus {
    color: #ffffff;
    outline: none
}

.text-link:hover:before, .text-link:focus:before {
    background: #4c3d6d;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.text-link:hover:after, .text-link:focus:after {
    background: #4c3d6d;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.text-link:active {
    color: #ffffff;
    outline: none;
    transition-duration: 0.1s
}

.text-link:active:before, .text-link:active:after {
    width: 35%
}

.text-link:active:before {
    left: 15%
}
